//@import "var.styl"

//字体
pingfang-light = PingFangSC-Light
pingfang-regular = PingFangSC-Regular
pingfang-bold = PingFangSC-Medium
siyuan = 'Noto Serif', 'Noto Serif CJK SC', 'Noto Serif CJK', 'Source Han Serif SC', 'Source Han Serif', 'source-han-serif-sc'

font-family-light = pingfang-light, siyuan, sans-serif
font-family-regular = pingfang-regular, siyuan, sans-serif
font-family-bold = pingfang-bold, siyuan, sans-serif

extra-large = 1.25em
large = 1.125em
medium = 1em
small = 0.875em
extra-small = 0.8125em
extra-extra-small = 0.75em

//color
main-color = #000
sub-color1 = #000
sub-color2 = #000
sub-color3 = #000
sub-color4 = #000
neutral-text-color1 = #303133
neutral-text-color2 = #606266
neutral-text-color3 = #909399
neutral-text-color4 = #C0C4CC
neutral-border-color1 = #DCDFE6
neutral-border-color2 = #E4E7ED
neutral-border-color3 = #EBEEF5
neutral-border-color4 = #F2F6FC

//success-color = #13CE66
success-color = #C47B16
error-color = #FF4949
warning-color = #F7BA2A
info-color = #20A0FF
//info-color=#5F5EB7

black = #1F2D3D
light-black = #324057
extra-light-Black = #475669
silver = #8492A6
light-silver = #99A9BF
extra-light-silver = #C0CCDA
gray = #D3DCE6
light-gray = #E5E9F2
extra-light-gray = #EFF2F7
dark-white = #F9FAFC
white = #FFFFFF

primary-text-color = black
//secondary-text-color = #F45500
primary-text-color = #C47B16
secondary-text-color = #C49A16
striking-text-color = #232189

primary-deep-color = #bea064
primary-light-color = #e1c87d

first-level = opacity 1
second-level = opacity 0.75
third-level = opacity 0.5

menuHeight = 3.4em
navHeight = 2.8em






