pingfang-light = PingFangSC-Light
pingfang-regular = PingFangSC-Regular
pingfang-bold = PingFangSC-Medium
siyuan='Noto Serif', 'Noto Serif CJK SC', 'Noto Serif CJK', 'Source Han Serif SC', 'Source Han Serif', 'source-han-serif-sc'

font-family-light = pingfang-light, siyuan, sans-serif
font-family-regular = pingfang-regular, siyuan, sans-serif
font-family-bold = pingfang-bold, siyuan, sans-serif

primary-text-color = #3d4450
secondary-text-color = #e60814
